org.xtext.alma.enumeration/generated/xsd/CalDataOrigin.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File CalDataOrigin.xsd
 -->
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                          xmlns:cldato="http://Alma/XENUM/CalDataOriginMod" 
                          targetNamespace="http://Alma/XENUM/CalDataOriginMod"
                          attributeFormDefault="qualified" elementFormDefault="unqualified"
                          version="1 1" >  
 	<xsd:simpleType name="CalDataOrigin">
 	
					<xsd:annotation>
					 </xsd:annotation>
				
		<xsd:restriction base="xsd:NCName">
		
<xsd:enumeration value="TOTAL_POWER" >	
 			<xsd:annotation>
 	 Total Power data (from detectors
 			 </xsd:annotation>
 		
	</xsd:enumeration>
<xsd:enumeration value="WVR" >	
			<xsd:annotation>
	 Water vapour radiometrer
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CHANNEL_AVERAGE_AUTO" >	
			<xsd:annotation>
	 Autocorrelations from channel average dat
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CHANNEL_AVERAGE_CROSS" >	
			<xsd:annotation>
	 Crosscorrelations from channel average dat
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="FULL_RESOLUTION_AUTO" >	
			<xsd:annotation>
	 Autocorrelations from full-resolution dat
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="FULL_RESOLUTION_CROSS" >	
			<xsd:annotation>
	 Cross correlations from full-resolution dat
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="OPTICAL_POINTING" >	
			<xsd:annotation>
	 Optical pointing dat
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="HOLOGRAPHY" >	
			<xsd:annotation>
	 data from holography receiver
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="NONE" >	
			<xsd:annotation>
	 Not applicabl
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
 
 
 <!--
 	Type for an item constrained by the union of enumerators.
 -->
 	<xsd:simpleType name="CalDataOriginList">
 		<xsd:restriction>
 			<xsd:simpleType>
 				<xsd:list>
 					<xsd:simpleType>
 						<xsd:restriction base="cldato:CalDataOrigin" />
 					</xsd:simpleType>
 				</xsd:list>
 			</xsd:simpleType>
 		</xsd:restriction>
 	</xsd:simpleType>
 	<xsd:simpleType name ="CalDataOrigins">
 		<xsd:restriction base="cldato:CalDataOriginList">
 			<xsd:maxLength value = "9" />
 		</xsd:restriction>
 	</xsd:simpleType>
 </xsd:schema>	
