org.xtext.alma.enumeration/generated/xsd/CalibrationSet.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File CalibrationSet.xsd
 -->
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                          xmlns:calset="http://Alma/XENUM/CalibrationSetMod" 
                          targetNamespace="http://Alma/XENUM/CalibrationSetMod"
                          attributeFormDefault="qualified" elementFormDefault="unqualified"
                          version="1 1" >  
 	<xsd:simpleType name="CalibrationSet">
 	
					<xsd:annotation>
			Defines sets of calibration scans to be reduced together for a result.
					 </xsd:annotation>
				
		<xsd:restriction base="xsd:NCName">
		
<xsd:enumeration value="NONE" >	
 			<xsd:annotation>
 	 Scan is not part of a calibration set
 			 </xsd:annotation>
 		
	</xsd:enumeration>
<xsd:enumeration value="AMPLI_CURVE" >	
			<xsd:annotation>
	 Amplitude calibration scan (calibration curve to be derived)
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="ANTENNA_POSITIONS" >	
			<xsd:annotation>
	 Antenna positions measurement
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="PHASE_CURVE" >	
			<xsd:annotation>
	 Phase calibration scan (calibration curve to be derived)
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="POINTING_MODEL" >	
			<xsd:annotation>
	 Pointing calibration scan (pointing model to be derived)
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="ACCUMULATE" >	
			<xsd:annotation>
	 Accumulate a scan in a calibration set
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="TEST" >	
			<xsd:annotation>
	 Reserved for development
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="UNSPECIFIED" >	
			<xsd:annotation>
	 Unspecified calibration intent
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
 
 
 <!--
 	Type for an item constrained by the union of enumerators.
 -->
 	<xsd:simpleType name="CalibrationSetList">
 		<xsd:restriction>
 			<xsd:simpleType>
 				<xsd:list>
 					<xsd:simpleType>
 						<xsd:restriction base="calset:CalibrationSet" />
 					</xsd:simpleType>
 				</xsd:list>
 			</xsd:simpleType>
 		</xsd:restriction>
 	</xsd:simpleType>
 	<xsd:simpleType name ="CalibrationSets">
 		<xsd:restriction base="calset:CalibrationSetList">
 			<xsd:maxLength value = "8" />
 		</xsd:restriction>
 	</xsd:simpleType>
 </xsd:schema>	
