org.xtext.alma.enumeration/generated/xsd/FluxCalibrationMethod.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File FluxCalibrationMethod.xsd
 -->
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                          xmlns:flxcam="http://Alma/XENUM/FluxCalibrationMethodMod" 
                          targetNamespace="http://Alma/XENUM/FluxCalibrationMethodMod"
                          attributeFormDefault="qualified" elementFormDefault="unqualified"
                          version="1 1" >  
 	<xsd:simpleType name="FluxCalibrationMethod">
 	
					<xsd:annotation>
			 [CalDM.CalFlux] Methods for flux calibration
					 </xsd:annotation>
				
		<xsd:restriction base="xsd:NCName">
		
<xsd:enumeration value="ABSOLUTE" >	
 			<xsd:annotation>
 	 Absolute flux calibration (based on standard antenna
 			 </xsd:annotation>
 		
	</xsd:enumeration>
<xsd:enumeration value="RELATIVE" >	
			<xsd:annotation>
	 Relative flux calibration (based on a primary calibrator
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="EFFICIENCY" >	
			<xsd:annotation>
	 Flux calibrator based on tabulated antenna efficicienc
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
 
 
 <!--
 	Type for an item constrained by the union of enumerators.
 -->
 	<xsd:simpleType name="FluxCalibrationMethodList">
 		<xsd:restriction>
 			<xsd:simpleType>
 				<xsd:list>
 					<xsd:simpleType>
 						<xsd:restriction base="flxcam:FluxCalibrationMethod" />
 					</xsd:simpleType>
 				</xsd:list>
 			</xsd:simpleType>
 		</xsd:restriction>
 	</xsd:simpleType>
 	<xsd:simpleType name ="FluxCalibrationMethods">
 		<xsd:restriction base="flxcam:FluxCalibrationMethodList">
 			<xsd:maxLength value = "3" />
 		</xsd:restriction>
 	</xsd:simpleType>
 </xsd:schema>	
