org.xtext.alma.enumeration/generated/xsd/ScanIntent.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File ScanIntent.xsd
 -->
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                          xmlns:scnint="http://Alma/XENUM/ScanIntentMod" 
                          targetNamespace="http://Alma/XENUM/ScanIntentMod"
                          attributeFormDefault="qualified" elementFormDefault="unqualified"
                          version="1 1" >  
 	<xsd:simpleType name="ScanIntent">
 	
					<xsd:annotation>
			 [ASDM.Scan] Scan intents
					 </xsd:annotation>
				
		<xsd:restriction base="xsd:NCName">
		
<xsd:enumeration value="CALIBRATE_AMPLI" >	
 			<xsd:annotation>
 	 Amplitude calibration sca
 			 </xsd:annotation>
 		
	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_ATMOSPHERE" >	
			<xsd:annotation>
	 Atmosphere calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_BANDPASS" >	
			<xsd:annotation>
	 Bandpass calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_DELAY" >	
			<xsd:annotation>
	 Delay calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_FLUX" >	
			<xsd:annotation>
	 flux measurement scan
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_FOCUS" >	
			<xsd:annotation>
	 Focus calibration scan. Z coordinate to be derive
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_FOCUS_X" >	
			<xsd:annotation>
	 Focus calibration scan; X focus coordinate to be derive
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_FOCUS_Y" >	
			<xsd:annotation>
	 Focus calibration scan; Y focus coordinate to be derive
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_PHASE" >	
			<xsd:annotation>
	 Phase calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_POINTING" >	
			<xsd:annotation>
	 Pointing calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_POLARIZATION" >	
			<xsd:annotation>
	 Polarization calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_SIDEBAND_RATIO" >	
			<xsd:annotation>
	 measure relative gains of sidebands
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_WVR" >	
			<xsd:annotation>
	 Data from the water vapor radiometers (and correlation data) are used to derive their calibration parameters
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="DO_SKYDIP" >	
			<xsd:annotation>
	 Skydip calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="MAP_ANTENNA_SURFACE" >	
			<xsd:annotation>
	 Holography calibration sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="MAP_PRIMARY_BEAM" >	
			<xsd:annotation>
	 Data on a celestial calibration source are used to derive a map of the primary beam
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="OBSERVE_TARGET" >	
			<xsd:annotation>
	 Target source sca
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_POL_LEAKAGE" >	
			<xsd:annotation>
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_POL_ANGLE" >	
			<xsd:annotation>
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="TEST" >	
			<xsd:annotation>
	 used for development
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="UNSPECIFIED" >	
			<xsd:annotation>
	 Unspecified scan inten
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_ANTENNA_POSITION" >	
			<xsd:annotation>
	 Requested by EVLA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_ANTENNA_PHASE" >	
			<xsd:annotation>
	 Requested by EVLA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="MEASURE_RFI" >	
			<xsd:annotation>
	 Requested by EVLA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_ANTENNA_POINTING_MODEL" >	
			<xsd:annotation>
	 Requested by EVLA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="SYSTEM_CONFIGURATION" >	
			<xsd:annotation>
	 Requested by EVLA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_APPPHASE_ACTIVE" >	
			<xsd:annotation>
	 Calculate and apply phasing solutions. Applicable at ALMA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_APPPHASE_PASSIVE" >	
			<xsd:annotation>
	 Apply previously obtained phasing solutions. Applicable at ALMA
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="OBSERVE_CHECK_SOURCE" >	
			<xsd:annotation>
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
<xsd:enumeration value="CALIBRATE_DIFFGAIN" >	
			<xsd:annotation>
	 Enable a gain differential target typ
			 </xsd:annotation>
		
 		 	</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
 
 
 <!--
 	Type for an item constrained by the union of enumerators.
 -->
 	<xsd:simpleType name="ScanIntentList">
 		<xsd:restriction>
 			<xsd:simpleType>
 				<xsd:list>
 					<xsd:simpleType>
 						<xsd:restriction base="scnint:ScanIntent" />
 					</xsd:simpleType>
 				</xsd:list>
 			</xsd:simpleType>
 		</xsd:restriction>
 	</xsd:simpleType>
 	<xsd:simpleType name ="ScanIntents">
 		<xsd:restriction base="scnint:ScanIntentList">
 			<xsd:maxLength value = "30" />
 		</xsd:restriction>
 	</xsd:simpleType>
 </xsd:schema>	
